<app-card class="text-sm w-full pt-4 px-0" [class.pb-2]="!shouldShowCommentSection()">
    <!-- Post Header -->
    <div class="flex gap-3 items-center text-sm min-h-0 px-4">
        <app-profile-icon [imageUrl]="post()?.userProfileImageUrl" [username]="post()?.username"></app-profile-icon>
        <div class="flex flex-col">
            <a [routerLink]="['/user', post()?.username]" routerLinkActive="active">
                <span>{{ post()?.displayName ?? ''}}</span>
            </a>
            <div class="mb-2 text-xs text-text-secondary">
                <span>@{{post()?.username}}</span>
                <span> · </span>
                <span>{{ timeAgo() }}</span>
            </div>
        </div>

        <!-- Show edit and delete button if the current user is the author of the post -->
        @if (isCurrentUserPost() && !editMode()) {
            <div class="ml-auto flex gap-2">
                <button (click)="editPost()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="edit" style="color: gray; font-size: 1.2rem" ></mat-icon>
                </button>

                <button (click)="deletePost()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="delete" style="color: rgb(100, 0, 0); font-size: 1.2rem" ></mat-icon>
                </button>
            </div>
        }

        <!-- Edit Save / Cancel -->
        @if (editMode()) {
            <div class="ml-auto flex gap-2">
                <button (click)="saveEdits()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="check" style="color: green; font-size: 1.2rem" ></mat-icon>
                </button>

                <button (click)="cancelEdit()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="close" style="color: red; font-size: 1.2rem" ></mat-icon>
                </button>
            </div>
         }
    </div>

    <!-- Text Content -->
    <div class="px-4 text-[1rem] pb-2 text-text-offwhite">
        @if (editMode()) {
        <textarea [(ngModel)]="this.mutableTextContent" class="w-full bg-bg-quaternary rounded-lg border-bg-tertiary resize-none placeholder:text-stone-500 focus-visible:outline-0 focus-visible:ring-3 focus-visible:ring-accent-primary/80"></textarea>
        }
        @else {
            @if (seeMore() && !editMode()) {
                <p class="text-text-offwhite wrap-break-word">{{ post()?.textContent | slice:0:125 }}...
                    <button (click)="openSeeMore()" class="text-text-secondary hover:underline">See more</button>
                </p>
            }
            @else {
                <p [class.pt-4]="!this.post()?.imageUrl" class="whitespace-pre-wrap wrap-break-word">{{ post()?.textContent ?? '' }}</p>
            }
        }
    </div>

    <!-- Post Image -->
    @if (this.mutableImageUrl) {
        <div class="relative">
            <img [src]="this.mutableImageUrl" alt="Post image" class="w-full h-full object-cover">

            @if (editMode()) {
                <button (click)="removeImage()"
                class="cursor-pointer absolute top-1 right-1 bg-bg-secondary/70 rounded-full w-8 h-8 hover:bg-bg-tertiary flex items-center justify-center">
                    <mat-icon fontIcon="close" style="color: white;"></mat-icon>
                </button>
            }
        </div>
    }

    <!-- Thumbs Up / Comment / Share Button -->
    <div class="flex flex-col text-text-secondary">
        <div class="flex p-4 select-none">
            <p>{{ `${post()?.likeCount ?? 0} Like${post()?.likeCount !== 1 ? 's' : ''}` }}</p>
            <button class="ml-auto" (click)="this.toggleCommentSection()">
                <p>{{ `${post()?.commentCount ?? 0} Comment${post()?.commentCount !== 1 ? 's' : ''}` }}</p>
            </button>
        </div>
        <hr class="text-bg-tertiary mb-2">
        <div class="flex justify-around">
            <div class="pt-3 pb-2 mr-1">
                <button (click)="toggleLike()" class="flex gap-1 items-start hover:brightness-90 rounded-full">
                    @if (post()?.isLikedByCurrentUser) {
                        <mat-icon fontIcon="thumb_up" style="color: royalblue; font-size: 1.2rem;" ></mat-icon>
                    } @else {
                        <mat-icon fontIcon="thumb_up" style="color: gray; font-size: 1.2rem;" [style.color-yellow-200]="shouldShowCommentSection()" ></mat-icon>
                    }
                    <p>Like</p>
                </button>
            </div>
            <div class="pt-3 pb-2">
                <button class="flex gap-1 items-start hover:brightness-90" (click)="this.toggleCommentSection()">
                    <mat-icon
                    fontIcon="comment"
                    class="text-gray-500 text-[1.2rem]"
                    [style.color]="shouldShowCommentSection() ? '#fff085' : 'gray'"
                    style="color: gray; font-size: 1.2rem;">
                    </mat-icon>
                    <p>Comment</p>
                </button>
            </div>
            <div class="pt-3 pb-2 relative group">
                <button class="hover:brightness-90 flex gap-1" (click)="copyShareToClipboard()">
                    <mat-icon
                        fontIcon="share"
                        class="share-icon"
                        [class.share-success]="copied()"
                        style="font-size: 1.2rem" >
                    </mat-icon>

                    <p>Share</p>
                </button>

                <span class="tooltip bg-stone-800 text-text-offwhite" [class.show]="copied()">
                    Copied to Clipboard!
                </span>
            </div>
        </div>
        <hr class="text-bg-tertiary pb-2" [class.hidden]="!shouldShowCommentSection()">
    </div>

    @if (shouldShowCommentSection()) {
        <!-- Comments -->
        <div class="flex flex-col text-sm gap-2 px-4">
            @for (comment of this.comments() ?? []; track comment.commentId) {
                <app-comment class="pt-2" [comment]="comment"></app-comment>
            }

            @if (this.post() && this.post()?.commentCount && (this.comments()?.length ?? 0) < (this.post()?.commentCount ?? 0)) {
                <button (click)="loadComments()" class="self-start text-text-secondary hover:underline cursor-pointer">
                    Load more comments...
                </button>
            }
        </div>

        <!-- CommentCreate -->
        <div class="px-4">
            <app-comment-create [postId]="this.postId"></app-comment-create>
        </div>
    }
</app-card>
