#register-form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0 .5rem 0
}

#register-btn {
    background: none;
    border: none;
    color: white;
    background-color: var(--secondary);
    padding: .25rem;
    font-size: .8rem;
    cursor: pointer;
    border-radius: .15rem;
}

#already-have-an-account {
    font-size: .7rem;
}

#already-have-an-account a {
    text-decoration: none;
    color: var(--secondary);
}