* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --blue: #007bff;
    --shadow: black;
    --dark: #121212;
    --dark-light: #1F1F1F;
    --dark-lighter: #2b2b2b;
    --text: white;
    --primary: #3700B3;
    --secondary: #018786;
}

ul {
    list-style: none;
}

.clickable:hover {
    cursor: pointer;
    filter: brightness(90%)
}

