<app-card class="text-lg">
    <!-- Post Header -->
    <div class="flex gap-3 items-center">
        <app-profile-icon [imageUrl]="post()?.userProfileImageUrl" [username]="post()?.username"></app-profile-icon>
        <div class="flex flex-col">
            <a [routerLink]="['/user', post()?.username]" routerLinkActive="active">
                <span>{{ post()?.displayName ?? ''}}</span>
            </a>
            <p class="text-text-secondary text-sm mb-2">{{ timeAgo }}</p>
        </div>

        <!-- Show edit and delete button if the current user is the author of the post -->
        @if (isCurrentUserPost() && !editMode()) {
            <div class="ml-auto flex gap-2">
                <button (click)="editPost()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="edit" style="color: gray;" ></mat-icon>
                </button>

                <button (click)="deletePost()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="delete" style="color: red;" ></mat-icon>
                </button>
            </div>
        }

        <!-- Edit Save / Cancel -->
        @if (editMode()) {
            <div class="ml-auto flex gap-2">
                <button (click)="saveEdits()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="check" style="color: green;" ></mat-icon>
                </button>

                <button (click)="cancelEdit()" class="cursor-pointer hover:brightness-70">
                    <mat-icon fontIcon="close" style="color: red;" ></mat-icon>
                </button>
            </div>
         }

    </div>

    <!-- Text Content -->
    @if (editMode()) {
        <textarea [(ngModel)]="this.mutableTextContent" class="w-full p-2 bg-bg-quaternary rounded-lg border-bg-tertiary resize-none placeholder:text-stone-500 focus-visible:outline-0 focus-visible:ring-3 focus-visible:ring-accent-primary/80"></textarea>
    }
    @else {
        <p class="whitespace-pre-wrap">{{ post()?.textContent ?? '' }}</p>
    }

    <!-- Post Image -->
    @if (this.mutableImageUrl) {
        <div class="relative">
            <img [src]="this.mutableImageUrl" alt="Post image" class="mt-5 w-full h-full rounded-lg object-cover">

            @if (editMode()) {
                <button (click)="removeImage()"
                class="cursor-pointer absolute top-1 right-1 bg-bg-secondary/70 rounded-full w-8 h-8 hover:bg-bg-tertiary flex items-center justify-center">
                    <mat-icon fontIcon="close" style="color: white;"></mat-icon>
                </button>
            }
        </div>
    }

    <!-- Thumbs Up Button -->
     <div class="flex gap-5">
        <div class="flex gap-2 items-start pt-3 pb-2 ">
            <button (click)="toggleLike()" class="cursor-pointer hover:brightness-90 rounded-full">
                @if (post()?.isLikedByCurrentUser) {
                    <mat-icon fontIcon="thumb_up" style="color: royalblue;" ></mat-icon>
                } @else {
                    <mat-icon fontIcon="thumb_up" style="color: gray;" ></mat-icon>
                }
            </button>
            <p>{{ `${post()?.likeCount ?? 0} like${post()?.likeCount !== 1 ? 's' : ''}` }}</p>
        </div>
        <div class="flex gap-2 items-center pt-3 pb-2 comments">
            <mat-icon fontIcon="comment" style="color: gray; font-size: 1.4rem" ></mat-icon>

            <p>{{ `${post()?.commentCount ?? 0} comment${post()?.commentCount !== 1 ? 's' : ''}` }}</p>
        </div>
    </div>

    <!-- Comments -->
    <div class="flex flex-col text-sm gap-2">
        @for (comment of this.comments() ?? []; track comment.commentId) {
            <app-comment class="pt-2" [comment]="comment"></app-comment>
        }

        @if (this.post() && this.post()?.commentCount && (this.comments()?.length ?? 0) < (this.post()?.commentCount ?? 0)) {
            <button (click)="loadComments()" class="self-start text-text-secondary hover:underline cursor-pointer">
                Load more comments...
            </button>
        }
    </div>

    <!-- CommentCreate -->
    <app-comment-create [postId]="this.postId"></app-comment-create>
</app-card>
