<app-card class="flex text-">
    <div class="inline-block">
    <app-profile-icon [imageUrl]="userProfileImage()"></app-profile-icon>
    </div>
    <div class="inline-block w-full">
    <div class="h-20 flex flex-col">
        <textarea [(ngModel)]="postContent" placeholder="Share a memory..." type="text" class="p-2 w-full h-full bg-transparent border-none focus:ring-0 resize-none"></textarea>
    </div>
    <hr class="border-stone-600 my-4">
    <div class="flex items-center mt-2">
        <span class="flex items-end gap-1">
            <mat-icon fontIcon="image"></mat-icon>
            Photo
        </span>
        <app-post-button class="ml-auto" (click)="post()"></app-post-button>
    </div>
    </div>
</app-card>
