<app-card class="flex flex-col text-sm">
    <div class="flex gap-2">
        <div class="inline-block">
            <app-profile-icon [imageUrl]="this.globalService.user()?.profileImageUrl" [username]="this.globalService.user()?.username"></app-profile-icon>
        </div>
        <div class="inline-block w-full pr-10">
            <div class="min-h-20 flex flex-col">
                <textarea [(ngModel)]="textContent" placeholder="Share a memory..." type="text" class="p-2 min-h-20 resize-y w-full h-full text-[1rem] bg-transparent outline-none focus:ring-2 focus:ring-accent-primary/80 "></textarea>
                @if (error()) {
                    <span class="text-red-500 text-xs mt-1">{{ error() }}</span>
                }
                <span class="text-xs text-text-secondary mt-1 ml-auto" [ngClass]="{ 'text-red-500!': textContent().length > 500 }" >{{ textContent().length }}/500</span>
            </div>
            @if (imagePreviewUrl()) {
                <div class="relative">
                    <img [src]="imagePreviewUrl()" class="w-full rounded-lg mt-2 object-cover" />
                    <button (click)="removeSelectedImage()"
                    class="cursor-pointer absolute top-1 right-1 bg-bg-secondary/70 rounded-full w-8 h-8 hover:bg-bg-tertiary flex items-center justify-center">
                        <mat-icon fontIcon="close" style="color: white;"></mat-icon>
                    </button>
                </div>
            }
        </div>
    </div>
    <div>
        <hr class="border-bg-secondary my-4">
        <div class="flex items-center mt-2">
            <!-- Image picker trigger -->
            <span class="flex items-end gap-1 cursor-pointer hover:text-text-tertiary text-text-secondary" (click)="openImageSelector()">
                <mat-icon fontIcon="image"></mat-icon>
                Photo
            </span>

            <input
                #fileInput
                type="file"
                accept="image/*"
                hidden
                (change)="onImageSelected($event)"
            />

            <div class="flex ml-auto items-center gap-2">
                @if (loading()) {
                    <mat-icon class="animate-spin-slow" style="color: dimgrey" fontIcon="autorenew"></mat-icon>
                }
                <app-post-button [disabled]="this.shouldDisablePosting()" (click)="post()"></app-post-button>
            </div>
        </div>
    </div>
</app-card>
