<div class="flex gap-2 items-center text-sm">
    <app-profile-icon class="mb-auto" [imageUrl]="comment.userProfileImageUrl" [username]="comment.username"></app-profile-icon>
    <div class="flex-col flex gap-1 min-w-0">
        <div class="flex gap-2 items-center">
            <a [routerLink]="['/user', comment.username]" routerLinkActive="active">
                <span class="text-text-primary">{{ comment.displayName }}</span>
            </a>
            <p class="text-stone-500 text-sm">{{ timeAgo }}</p>
        </div>
        @if (seeMore()) {
            <p class="text-text-offwhite wrap-break-word">{{ comment.textContent | slice:0:100 }}...
                <button (click)="openSeeMore()" class="text-text-secondary hover:underline">See more</button>
            </p>
        }
        @else {
            <p class="text-text-offwhite wrap-break-word">{{ comment.textContent }}</p>
        }
    </div>
    @if (this.globalService.user()?.userId === this.comment.userId) {
        <button (click)="deleteComment()" class="ml-auto cursor-pointer hover:brightness-70">
            <mat-icon fontIcon="delete" style="color: rgb(75, 0, 0);" ></mat-icon>
        </button>
    }
</div>
