<header>
    <div class="bg-bg-secondary">
        <div class="flex md:flex-row flex-col p-5 items-center max-w-7xl mx-auto gap-5">
            <div class="xs:flex-row flex-col flex gap-10 items-center">
                <h1
                    class="text-4xl font-bold "
                    style="font-family: 'Playfair Display', serif"
                >
                    <a routerLink="/" routerLinkActive="active">memorable</a>
                </h1>

                <nav class="flex gap-8 text-lg/5">
                    <a routerLink="/" routerLinkActive="active" class="flex gap-1 items-end">
                        <mat-icon fontIcon="home"></mat-icon>
                        Home
                    </a>

                    <a routerLink="/about" routerLinkActive="active" class="flex gap-1 items-end">
                        <mat-icon fontIcon="info"></mat-icon>
                        About
                    </a>
                </nav>
            </div>

            <div class="md:ml-auto flex gap-5 items-center">
                <div class="flex items-center relative">
                    <mat-icon fontIcon="search" class="absolute left-2"></mat-icon>
                    <input type="text" class="text-xl pl-10 w-64 bg-bg-tertiary p-1 rounded-lg border-border-secondary text-text-primary placeholder:text-text-tertiary focus-visible:outline-0 focus-visible:ring-4 focus-visible:ring-accent-primary"
                    type="text" placeholder="Search...">
                </div>

                <app-profile-icon [imageUrl]="globalService.user()?.profileImageUrl ?? globalService.fallbackProfileImageUrl"></app-profile-icon>
            </div>
        </div>
    </div>
</header>
