* {
    user-select: none;
}

nav > * {
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
  padding-inline: 0.25rem;
  border-bottom: 3px solid transparent;  // reserve space
}

nav a.active {
  border-bottom-color: var(--color-accent-primary);
}
