#profile-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20vw;
}

#profile-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    box-shadow: 0 0 10px 1px black;
    overflow: hidden;
}

.profile-picture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#click-to-change-pfp:hover {
    filter: brightness(80%);
    cursor: pointer;
}

#profile-name {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

#profile-full-name {
    font-size: .6rem;
    color: lightgrey;
}

#click-to-change-pfp:hover::before {
    width: min-content;
    height: min-content;
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "📷"
}

#updatePFP-modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#updatePFP-modal-container > * {
    width: 100%;
}

#updatePFP-header {
    margin-bottom: 1rem;
}

#updatePFP-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#updatePFP-buttons-wrapper {
    display: flex;
    justify-content:stretch;
    width: 100%;
    gap: 1rem;
}

#updatePFP-buttons-wrapper > button {
    width: 100%;
}

#updatePFP-image-preview-container {
    padding: 1rem;
    background-color: var(--dark-lighter);
    box-shadow: 0 0 2px 1px grey;
    border-radius: 2rem;
    width: max-content;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

#updatePFP-image-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

#updatePFP-image-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-follow-info-wrapper {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

.profile-follow-info-wrapper > button {
    color: white;
    background: none;
    font-size: .6rem;
    border: none;
}

.profile-follow-info-wrapper .follow-btn {
    grid-column: span 2;
    background-color: var(--secondary);
    border-radius: .25rem;
    padding: .25rem;
    transition: background-color 300ms;
}

.profile-follow-info-wrapper .follow-btn.following {
    background-color: var(--primary);
}

.follow-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.follow-list > li {
    display: flex;
    gap: 1rem;
}

.follow-list img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
