<div class="flex gap-2 items-center mt-4">
    <app-profile-icon class="xs:block hidden" [imageUrl]="this.globalService.user()?.profileImageUrl" [username]="this.globalService.user()?.username"></app-profile-icon>
    <input [(ngModel)]="this.commentContent" type="text" placeholder="Add a comment..." class="w-full p-2 bg-bg-quaternary rounded-lg border-bg-tertiary text-text-offwhite placeholder:text-stone-500 outline-none focus:ring-3 focus:ring-accent-primary/80">
    <app-post-button (click)="this.createComment()" [disabled]="this.commentContent().trim() === ''"></app-post-button>
</div>
