@if (editable) {
    <input
    type="file"
    accept="image/*"
    class="hidden"
    id="profileImageSelector"

    (change)="onFileSelected($event)"
    />
}

<div class="relative">
  <img
    class="w-24 h-24 rounded-full object-cover"
    [src]="this.profilePreviewUrl() ? profilePreviewUrl() : imageUrl"
    alt="Profile Picture"
  >

  @if (editable) {
    <label
      class="absolute flex items-center justify-center rounded-full bg-bg-secondary border-2 border-bg-primary transition cursor-pointer right-0 bottom-0
      hover:border-accent-primary"
      for="profileImageSelector"
    >
      <mat-icon fontIcon="edit" style="font-size: 1rem; display: flex; justify-content: center; align-items: center; "></mat-icon>
  </label>
  }
</div>
